nav{
    background-color: var(--green-dark);
    display: flex;
    align-items: center;
}
.title{
    color: white;
}
.theme-chnager{
    color: white;
    margin-left: auto;
    padding: 10px;
    border-radius: 50px;
}
.theme-chnager:hover{
    cursor: pointer;
    background-color: var(--tansparent-black);
}
svg{
    cursor: pointer;
}
.loading-ani{
    border: 5px solid var(--text);
    border-radius: 300px;
    border-top: 5px solid var(--background-light-4);
    height: 30px;
    width: 30px;
    animation: loading-animation 500ms linear infinite;
}
.center{
    margin: 0 auto;
}
.back-navigation{
    display: none;
}
.seclect-choice{
    background-color: var(--background-light-4);
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px black; */
    margin: 5px;
    padding: 10px;
}

.title-header{
    background-color: var(--background);
    width: 50%;
    padding: 7px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
@keyframes loading-animation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.create-chat-container{
    width: 40%;
}
.joined-chat-container{
    /* width: 30%; */
    max-height: 90vh;
    overflow: auto;
}
.linebreak{
    line-break: anywhere;
}
.add-chat-btn{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 768px){
    .add-chat-btn{
        display: block;
    }
    .create-chat-container{
        width: 100%;
    }
    .joined-chat-container{
        width: 100%;
        padding-top: 0 !important;
        background-color: transparent;
    }
    .title-header-join-chat{
        display: none;
    }
    .create-chat-div{
        /* display: none; */
        height: 100vh;
        z-index: 500;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 0 !important;
        position: absolute;
    }
    .main-top-container{
        padding: 0 !important;
    }
    .back-navigation{
        display: block;
    }
    .alert-massage-info{
        width: 100% !important;
        position: absolute !important;
        top: 0;
    }
}