<app-back-nevigation></app-back-nevigation>
<div class="container">
    <div class="container float-start w-50">
        <app-single-post [post]="post" showCommentsBtn="false"></app-single-post>
    </div>
    <div class="float-end w-50 p-2 comment-section">
        <div class="p-2">
            <div class="fs-5">
                Add Comment
            </div>

            <div class="comments-holder">
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="myName">
                <textarea class="form-control" placeholder="Comment" [(ngModel)]="myComments"></textarea>
                <input type="button" value="comment" class="btn btn-info float-end" (click)="postComment()">
            </div>
            <div class="clearfix"></div>
        </div>
        <hr>
        <div class="fs-5">
            {{post.comments}} Commnts
        </div>
        <div *ngFor="let comment of comments; index as i">
            <hr>
            <div class="fw-bold float-start">
                {{comment.from}}
            </div>
            <div class="float-end">
                {{ formateTime(comment.createdAt) }}
            </div>
            <div class="clearfix"></div>
            <div class="px-2">
                {{comment.text}}
            </div>
            <div class="p-3" (click)="likeComment(comment._id, i)">
                <i class="bi bi-hand-thumbs-up action-icon" *ngIf="!comment.isLiked" title="like"></i>
                <i class="bi bi-hand-thumbs-up-fill action-icon" *ngIf="comment.isLiked" title="remove like"></i>
                {{ comment.like }}
            </div>
        </div>
        <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="500"
            (scrolled)="onScroll()"
        ></div>
        <hr>
        <div class="loading-div" *ngIf="!dataOver"></div>
        <div class="text-center" *ngIf="dataOver">- - -</div>
    </div>
</div>