<div *ngIf="showtitle" class="container p-3 fs-3 text-secondary">
    Chats
</div>
<div class="list">
    <div *ngIf="chats.length == 0" class="fs-2 text-secondary text-center p-3">
        no chats found
    </div>
    <div (click)="handleClick(item.token, i)" class="links" *ngFor="let item of chats; index as i" [ngClass]="{'selected': isKeyInObject(item.token) }">

        <div class="position-relative">
            <span *ngIf="item.token != urlToken">
                <span *ngIf="item.unread > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{item.unread}}
                </span>
            </span>
        </div>
        <div class="list-item" [ngClass]="{'list-active': item.token == urlToken && !selection}">
            <div>
                <div class="text-truncate w-50 float-start" [title]="item.name">
                    {{item.name}}
                </div>
                <div class="trash w-25 float-end text-center" (click)="handleDeleteChat(i)" title="Delete"
                    *ngIf="!selection">
                    <i class="bi bi-trash"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="created-at">{{item.cretaed}}</div>
        </div>
    </div>
</div>