<div class="list">
    <div *ngIf="chats.length == 0; else searchBar" class="fs-2 text-secondary text-center p-3">
        no chats found
    </div>
    <ng-template #searchBar>
        <div>
            <input type="search" placeholder="search" (keyup)="searchChats($event)"
                class="form-control my-3 w-50 ms-auto search-bar">
        </div>
    </ng-template>
    <span *ngIf="!searching; else searchedChats">

        <div (click)="handleClick(item.token, i)" class="links" *ngFor="let item of chats; index as i"
            [ngClass]="{'selected': isKeyInObject(item.token) }">
            <app-one-chat [item]="item" [i]="i" [selection]="selection" [urlToken]="urlToken"></app-one-chat>

        </div>
    </span>
    <ng-template #searchedChats>
         <div (click)="handleClick(item.token, i)" class="links" *ngFor="let item of searchArray; index as i"
            [ngClass]="{'selected': isKeyInObject(item.token) }">

        <!--    <div class="position-relative">
                <span *ngIf="item.token != urlToken">
                    <span *ngIf="item.unread > 0"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{item.unread}}
                    </span>
                </span>
            </div>
            <div class="list-item" [ngClass]="{'list-active': item.token == urlToken && !selection}">
                <div>
                    <div class="text-truncate w-50 float-start" [title]="item.name">
                        {{item.name}}
                    </div>
                    <div class="trash w-25 float-end text-center" (click)="handleDeleteChat(i)" title="Delete"
                        *ngIf="!selection">
                        <i class="bi bi-trash"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="created-at">{{item.cretaed}}</div>
            </div>-->
            <app-one-chat [i]="i" [item]="item"></app-one-chat>
        </div> 
    </ng-template>
</div>