<app-back-nevigation></app-back-nevigation>
<div class="container col-4" *ngIf="!isLive">
    <br>
    <input class="form-control" type="text" placeholder="Name" [(ngModel)]="data.name">
    <br>
    <input class="form-control" type="text" placeholder="Title" [(ngModel)]="data.title">
    <br>
    <input class="form-control" type="text" placeholder="Tags" [(ngModel)]="data.tags">
    <br>
    <textarea class="form-control" placeholder="Description" [(ngModel)]="data.description">
    </textarea>
    <br>
    <input type="submit" value="Live" class="btn btn-info mt-3" (click)="submitForm()">
    <br>
</div>
<div *ngIf="isLive">
    <video id="live-video" autoplay></video>
</div>