<div class="gif-search">
    <input type="text" (keyup)="changeGifText($event)" class="form-control" placeholder="Search Gif">
</div>
<div class="all-gifs p-2">
    <div *ngFor="let i of gifs" class="gif-container">
        <div class="gifs-item" (click)="sendGif(i.media[0].gif.url)">
            <img [src]="i.media[0].gif.url">
        </div>
    </div>
    <div 
    infiniteScroll 
    [infiniteScrollDistance]="0" [scrollWindow]="false" [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()">
    </div>
    <div class="loading-div-container">
        <div class="loading-div"></div>
    </div>
</div>