<div class="container pt-3">
    <div class="row p-3">
        <div class="create-chat-container mx-auto">
            <div class="seclect-choice">
                <div class="title-header">Create Chat</div>
                <div class="row p-3">
                    <div class="row py-3 center">
                        <label for="password" class="p-2">Chat Title: </label>
                        <input type="text" class="form-control" placeholder="Chat Title" [(ngModel)]="chatTitle">
                        <div class="m-2"></div>
                        <label for="password" class="p-2">Create Password: </label>
                        <input type="password" class="form-control" placeholder="Create Password"
                            [(ngModel)]="password">
                    </div>
                    <div class="row">
                        <div class="col text-end p-0">
                            <button class="btn btn-info" (click)="createChat()" autocomplete="off">Create Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="joined-chat-container seclect-choice mx-auto">
            <div class="title-header">Joined Chat</div>
            <app-side-bar [showtitle]='false'></app-side-bar>
        </div>
    </div>
</div>
<!-- *ngIf='' -->
<div *ngIf="sucsessCreated" class="linebreak alert alert-success m-5 alert-dismissible fade show" role="alert">

    <i class="bi bi-patch-check"></i>
    <strong class="mx-2">Succsess!</strong> Your Chat Room Created Succsess. at
    <a [routerLink]="linkUrl">{{fullUrl}}</a> &nbsp;
    <!-- copy svg icon   -->
    <span (click)="copyToClipBord()">
        <i *ngIf='showClip' class="bi bi-clipboard"></i>
        <i  *ngIf="!showClip" class="bi bi-check-lg"></i>
    </span>
    <div class="container">
        <div class="m-3" >
            <div class=" py-3 center">
                <label for="password" class="p-2">Email: </label>
                <input 
                    type="email" 
                    class="form-control" 
                    placeholder="Email"
                    [(ngModel)]="email"
                >
                <div class="m-2"></div>
                <label for="password" class="p-2">Comment: </label>
                <textarea 
                    class="form-control" 
                    placeholder="Comment"
                    [(ngModel)]="comment"
                ></textarea>

                <div class="my-2"></div>
                <div class="col text-end p-0">
                    <button class="btn btn-info" (click)="inviteFreind()" autocomplete="off">Invite</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='FailHappen' class="linebreak alert alert-danger m-5 alert-dismissible fade show" role="alert">

    <i class="bi bi-x-octagon"></i>

    <strong class="mx-2">Falid!</strong> Somthing Went Wrong Please try agin later.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>