<div class="container pt-3">
    <div class="row">
        <div class="col seclect-choice">
            <div class="title-header">Create Chat</div>
            <div class="row p-3">
                <div class="row py-3 center">
                    <div class="col-4">
                        <button (click)="genrateToken()" class="btn btn-info">Genrate token</button>
                    </div>
                    <div class="col-1 text-center p-1">
                        <div *ngIf='getTokenLoading' class="loading-ani"></div>
                    </div>
                </div>
                <div class="row pe-0">
                    <div class="input-group pe-0">
                        <span class="input-group-text" (click)="copyToClipBord(token)">
                            <svg *ngIf='showClip' xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path
                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z">
                                </path>
                                <path
                                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z">
                                </path>
                            </svg>
                            <svg *ngIf="!showClip" width="16px" height="16px" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg" fill="none">
                                <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 5L8 15l-5-4" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" [value]="token" disabled>
                    </div>
                </div>
                <div class="row py-3 center">
                    <input type="password" class="form-control" placeholder="Create Password" [(ngModel)]="password">
                </div>
                <div class="row">
                    <div class="col text-end p-0">
                        <button class="btn btn-info" (click)="createChat()">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col seclect-choice">
            <div class="title-header">Join Chat</div>
            <div class="row p-3">
                <div class="row py-3 center">
                    <input type="text" class="form-control" placeholder="Enter Token" [(ngModel)]="token">
                </div>
                <div class="row py-3 center">
                    <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password">
                </div>
                <div class="row">
                    <div class="col text-end p-0">
                        <button class="btn btn-info" (click)="startChat()">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='sucsessCreated' class="alert alert-success m-5 alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill"
        viewBox="0 0 16 16">
        <path
            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
    </svg>
    <strong class="mx-2">Succsess!</strong> Your Chat Room Created Succsess.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf='FailHappen' class="alert alert-danger m-5 alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon"
        viewBox="0 0 16 16">
        <path
            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
        <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
    </svg>
    <strong class="mx-2">Falid!</strong> Somthing Went Wrong Please try agin later.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf='loginSucsess' class="alert alert-success m-5 alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill"
        viewBox="0 0 16 16">
        <path
            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
    </svg>
    <strong class="mx-2">Succsess!</strong> Authanticate Sucsessfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf='loginFaild' class="alert alert-danger m-5 alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon"
        viewBox="0 0 16 16">
        <path
            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
        <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
    </svg>
    <strong class="mx-2">Faild!</strong> Wrong credinitial try again.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>