.list{
    margin-top: 15px;
}
.links{
    text-decoration: none;
    color: var(--text);
}
.trash{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
}
.trash:hover{
    background-color: var(--tansparent-black);
    transition-duration: 200ms;
}
.side-nav{
    float: left;
    width: max-content;
    transition-duration: 500ms;
    animation: side-nav 500ms;
}
.selected{
    background-color: seagreen !important;
    transition-duration: 200ms;
    z-index: 200;
}
.search-bar{
    margin: 0 10px;
}
.search-bar:focus{
    width: 60% !important;
    transition-duration: 200ms;
}
@keyframes side-nav {
    from{
        opacity: 0.3;
        transform: translateX(-10px);
    }
}