<nav>
    <div class="row">
        <div class="side-nav p-0 m-0" *ngIf="isOpenMenu">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col">
            <div class="row">
                <div class="cross-icon">
                    <i class="bi bi-x" *ngIf="isOpenMenu" (click)="isOpenMenu = false"></i>
                    <i class="bi bi-list" *ngIf="!isOpenMenu" (click)="isOpenMenu = true"></i>
                </div>
                <div class="col">
                    <a routerLink="/" class="aroow-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                        </svg>
                    </a>
                    <div class="name">{{name}}</div>
                    <div>
                        <div *ngIf="status == 'online'" class="green-dot"></div>
                        <div *ngIf="status == 'offline'" class="grey-dot"></div>
                        <div *ngIf="status == 'typing'" class="typing-dot">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="status">{{status}}</div>
                    </div>
                </div>
                <div class="col text-end">
                    <div class="btn-group text-center" (click)="videoCall()">
                        <i class="bi bi-camera-video option"></i>
                    </div>
                    <div class="btn-group text-center">
                        <i class="bi bi-telephone option"></i>
                    </div>

                    <div class="btn-group">
                        <div class="" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical option" (click)="chatOption = !chatOption"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><i class="bi bi-share"></i> Share</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item text-danger" (click)="deleteChat()"><i class="bi bi-trash"></i>
                                Delete Chat</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="gifMenu" class="gif-menu container w-50 float-end">
                <app-gif (onsendGif)="sendGif($event)"></app-gif>
            </div>
            <div class="main-container">
                
                <div class="end-container">

                    <div class="chats-container container" [innerHtml]="data">


                    </div>

                    <div class="container-text-last container">
                        <div class="text-feild">
                            <div class="massage-text">
                                <div class="icon">
                                    <label for="file-upload">
                                        <i class="bi bi-file-earmark"></i>
                                    </label>
                                    <input type="file" style="display: none" id="file-upload"
                                        (change)="uploadFile($event)" accept="image/jpeg, image/png, video/mp4">
                                </div>
                                <div class="icon">
                                    <div (click)="gifMenu = !gifMenu">
                                        <i class="bi bi-filetype-gif" *ngIf="!gifMenu"></i>
                                        <i class="bi bi-x" *ngIf="gifMenu"></i>
                                    </div>
                                </div>
                                <textarea 
                                    placeholder="Massage" 
                                    (keyup)="input($event)" 
                                    class="form-control"
                                    id="textarea" rows="1"
                                ></textarea>

                                <div class="icon p-1">
                                    <div (click)="addTo()">
                                        <i class="bi bi-send border p-3 bg-success"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-video-call *ngIf="isVideoCall" class="videocall-component" [authToken]="authToken"
    (onCutVideoCall)="handleVideoCallCutEvent($event)">
</app-video-call>