.all-gifs{
    height: 40vh;
    overflow: auto;
}
.gifs-item{
    padding: 2px;
    width: 33% !important; 
    float: left;
}
.gifs-item img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}