<nav>
  <div class="my-container">
    <div class="row p-1">
      <div class="col navigator" id="chat" (click)="navigate('/', $event)" style="background: var(--green-dark);">
        chat
      </div>
      <div class="col navigator" id="post" (click)="navigate('post', $event)">
        post
      </div>
    </div>
  </div>
  <div class="theme-chnager" (click)="toggleTheme()" style="position: absolute; right: 10px;">
    <i class="bi bi-sun rotatation-ani" *ngIf="theme == 'dark'"></i>
    <i class="bi bi-moon rotatation-ani" *ngIf="theme == 'light'"></i>
  </div>
</nav>
<router-outlet ></router-outlet>

<!-- for animation between routes -->

<!-- <main [@routerAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main> -->