.last-buttons{
    position: absolute;
    bottom: 0 !important;
    width: 100%;
}
.cross-icon{
    cursor: pointer;
    border-radius: 10px;
    width: max-content;
}
.btn-success{
    border-radius: 30px;
}