<div>
    <div class="p-2 cross-icon" (click)="close()">
        <i class="bi bi-x-lg"></i>
    </div>
    <div class="my-2"></div>
    <table class="table hover">
        <tr>
            <td>
                <li class="dropdown-item">
                    Type: {{data.type | titlecase}}
                </li>
            </td>
        </tr>
        <tr *ngIf="data.miamitype">
            <td>
                <li class="dropdown-item">
                    miamitype: {{data.miamitype}}
                </li>
            </td>
        </tr>
        <tr *ngIf="data.filename">
            <td>
                <li class="dropdown-item">
                    File Name: {{data.filename}}
                </li>
            </td>
        </tr>
        <tr *ngIf="data.status">
            <td>
                <li class="dropdown-item">
                    Status: {{data.status | titlecase}}
                </li>
            </td>
        </tr>
        <tr>
            <td>
                <li class="dropdown-item">
                    Time: {{formateDate(data.time) +' '+ formatAMPM(data.time)}}
                    <span *ngIf="data.edited" class="fw-bold">Edited</span>
                </li>
            </td>
        </tr>
    </table>
</div>