nav {
    background-color: var(--background-light-3);
    padding: 5px;
}

.cross-icon {
    width: max-content;
    margin-left: 10px;
    font-size: 1.7em;
    cursor: pointer;
    padding: 5px 5px;
    transition-duration: 200ms;
    border-radius: 5px;
}

.dropdown-item {
    cursor: pointer;
}

.cross-icon:hover {
    background-color: rgb(10, 10, 10, 0.2);
}

.side-nav {
    float: left;
    width: max-content;
    width: 15%;
    transition-duration: 500ms;
    animation: side-nav 500ms;
    padding: 10px;
}

@keyframes side-nav {
    from {
        opacity: 0.3;
        transform: translateX(-10px);
    }
}

.name {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
}

.status {
    font-size: 0.7em;
    line-height: 1.3em;
}

.green-dot {
    height: 10px;
    width: 10px;
    background-color: var(--green);
    border-radius: 50%;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}

.grey-dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}

.aroow-left {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.line {
    background: var(--text);
    height: 2px;
    margin: 5px;
    border-radius: 5px;
}

.option {
    width: 40px;
    margin-left: auto;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    transition-duration: 200ms;
    cursor: pointer;
}

/* conetex-menu css start */
@keyframes animation-contex {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#context-menu {
    display: block;
    background-color: var(--light-bg-color);
    border: 1px solid var(--back-color);
    color: var(--txt-color);
    z-index: 100;
    background-color: smokewhite;
    width: fit-content;
    box-shadow: 2px 2px 15px var(--back-bg-color);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    user-select: none;
    animation: animation-contex 800ms;
    border: 1px solid lightgray;
}

#context-menu .item {
    padding: 5px;
    cursor: pointer;
    transition-duration: 100ms;
    border-radius: 5px;
    font-weight: 600;
}

#context-menu .item:hover {
    background-color: var(--hover-color);
}

/* conetex-menu css end */
.option:hover {
    background-color: rgb(10, 10, 10, 0.2);
}

.chats-container {
    overflow-y: auto;
    display: block;
}
.end-container .container-text-last{
    display: flex;
    justify-content: center;
}
.main-container {
    height: 86vh;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    background-color: var(--background);
    border: 1px solid rgb(51, 51, 51);
    /* background-image: url('./../../../assets/images/chat-back.svg'); */
}

.end-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* justify-content: center; */
    width: 100%;
    max-height: 100%;
}

.text-feild {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    width: 100%;
    /* gap: 5px !important; */
}

.massage-text {
    display: flex;
    width: 100%;
    line-break: anywhere;
    overflow: hidden;
    padding: 2px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
}
.massage-text #textarea{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
}
.send-btn-chat-space{
    background-color: var(--blue-dark);
    border: 0;
    border-radius: 5px;
    transition-duration: 200ms;
}
.send-btn-chat-space:hover{
    background-color: var(--blue-light);
}
.send-btn-chat-space .bi-send:hover{
    background-color: none;
}

.massage-text .icon{
    display: flex;
    justify-content: center;
    /* background-color: green; */
    color: var(--text);
    text-align: center;
    margin: 1px;
}
.massage-text .icon i{
    border-radius:5px;
    padding: 5px;
    text-align: center;
}
.massage-text i:hover{
    background-color: rgb(10, 10, 10, 0.2);

}
/* massage to css set */
::ng-deep .to,
::ng-deep .from {
    margin: 5px 0;
}

::ng-deep .to .massage,
::ng-deep .from .massage {
    padding: 2px;
    float: right;
    width: max-content;
    line-break: anywhere;
    min-width: 50px;
    max-width: 60%;
}

::ng-deep .to .text,
::ng-deep .from .text {
    background-color: var(--to);
    padding: 10px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;

}

::ng-deep .to .massage-status {
    float: right;
    font-size: 0.7em;
}

/* massage to set css end here */
/* massage from set css start here */

::ng-deep .from .massage {
    float: left;
}

::ng-deep .to .text {
    border-end-end-radius: 0;
}

::ng-deep .from .text {
    /* background-color: var(--from-dark); */
    border: 1px solid grey;
    background-color: transparent;
    border-top-left-radius: 0;
}

::ng-deep .from img,
::ng-deep .to img {
    max-width: 200px;
    border-radius: 100px;
    /* display: none; */
}

::ng-deep .from .time,
::ng-deep .to .time {
    font-size: 0.6em;
    float: right;
    line-height: 12px;
    margin: 0 1px;
}

::ng-deep .from .time {
    float: left;
}

@keyframes massage {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0px);
    }
}

.typing-dot>div {
    height: 7px;
    width: 7px;
    background-color: var(--green);
    border-radius: 50%;
    float: left;
    margin-right: 2px;
    margin-top: 5px;
    animation: first-dot 1s infinite ease-out;
}

.typing-dot>div:nth-child(3) {
    animation-delay: 400ms;
    margin-right: 5px;
}

.typing-dot>div:nth-child(2) {
    animation-delay: 200ms;
}

@keyframes first-dot {
    from {
        transform: translateY(-2px);
    }
}

@media screen and (max-width: 700px) {
    .side-nav {
        width: 40%;
    }
    .gif-menu{
        width: 100%;
    }
    ::ng-deep .to .massage,
    ::ng-deep .from .massage {
        max-width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .side-nav {
        width: 100%;
    }
}

/* Gif section */
.gif-menu {
    border: 0.5px solid gray;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    /* bottom: 15%; */
    /* left: 25%; */
}

/* video call section */
.videocall-component {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: var(--background);
}