<nav>
    <div class="row super-main-container">
        <!--  -->
        <div class="side-nav p-0 m-0" [ngClass]="{'show-sidenav': isOpenMenu == true}">
            <app-side-bar class="w-25" (onreload)="reloadPage($event)"></app-side-bar>
        </div>
        <div class="col">
            <div class="row">
                <div class="cross-icon position-reletive">
                    <i class="bi bi-x" *ngIf="isOpenMenu" (click)="isOpenMenu = false"></i>
                    <i class="bi bi-list" *ngIf="!isOpenMenu" (click)="isOpenMenu = true"></i>
                </div>
                <div class="col">
                    <a (click)="goBack()" class="aroow-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                        </svg>
                    </a>
                    <!-- [title]="name" -->
                    <div class="name text-truncate w-50" [title]="name">{{name}}</div>
                    <div>
                        <div *ngIf="status == 'online'" class="green-dot"></div>
                        <div *ngIf="status == 'offline'" class="grey-dot"></div>
                        <div *ngIf="status == 'typing'" class="typing-dot">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="status">{{status}}</div>
                    </div>
                </div>
                <div class="col text-end">
                    <div class="btn-group text-center" (click)="videoCall()">
                        <i class="bi bi-camera-video option"></i>
                    </div>
                    <div class="btn-group text-center">
                        <i class="bi bi-telephone option"></i>
                    </div>

                    <div class="btn-group">
                        <div class="" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical option" (click)="chatOption = !chatOption"></i>
                        </div>
                        <ul class="dropdown-menu p-0">
                            <li class="dropdown-item p-2">
                                <i class="bi bi-share"></i>
                                Invite
                            </li>
                            <li>
                                <hr class="p-0 m-0">
                            </li>
                            <li class="dropdown-item p-2" (click)="clearChat()">
                                <i class="bi bi-x-circle"></i>
                                Clear Chat
                            </li>
                            <li>
                                <hr class="p-0 m-0">
                            </li>
                            <li class="dropdown-item text-danger p-2" (click)="deleteChat()">
                                <i class="bi bi-trash"></i>
                                Delete Chat
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="gifMenu" class="gif-menu container w-50 float-end">
                <app-gif (onsendGif)="sendGif($event)"></app-gif>
            </div>
            <div class="main-container">

                <div class="end-container">

                    <!-- <div class="chats-container container" [innerHtml]="data">

                    </div> -->
                    <div class="chats-container container">

                        <div *ngFor="let oneChatData of data;index as i">

                            <div class="row">
                                <div [class]=oneChatData.sended_or_recived>
                                    <div class="btn-group"
                                        [ngClass]="{'float-end': oneChatData.sended_or_recived == 'to'}">
                                        <div class="" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-chevron-down option"></i>
                                        </div>
                                        <ul class="dropdown-menu p-0">
                                            <li class="dropdown-item p-2" 
                                                *ngIf=" oneChatData.type=='string' " 
                                                (click)="copyToClipBord(oneChatData.text)">
                                                <i class="bi bi-clipboard"></i>
                                                Copy
                                            </li>
                                            <li class="dropdown-item p-2" *ngIf="oneChatData.type != 'string' "
                                                (click)="downloadFile(oneChatData.src,oneChatData.type)"
                                            >
                                                <i class="bi bi-download"></i>
                                                Download
                                            </li>
                                            <li>
                                                <hr class="p-0 m-0">
                                            </li>
                                            <li class="dropdown-item text-danger p-2" (click)="deletePerticulerChat(i)">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="massage">
                                        <div class="text" *ngIf="oneChatData.type == 'string'">
                                            {{oneChatData.text}}
                                        </div>

                                        <div *ngIf="oneChatData.type == 'video'">
                                            <video width="320" height="240" class="text" controls>
                                                <source [src]=oneChatData.src type="video/mp4">
                                            </video><br>
                                        </div>

                                        <div *ngIf="oneChatData.type == 'image'" (click)="showImage(oneChatData.src)">
                                            <img [src]=oneChatData.src class="text" /> <br>
                                        </div>
                                        
                                        <div *ngIf="oneChatData.type == 'gif'" (click)="showImage(oneChatData.src)">
                                            <img [src]=oneChatData.url class="text" alt="image" /> <br>
                                        </div>

                                        <div class="time">{{formatAMPM(oneChatData.time)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-text-last container">
                        <div class="text-feild">
                            <div class="massage-text">
                                <div class="icon">
                                    <label for="file-upload">
                                        <i class="bi bi-file-earmark"></i>
                                    </label>
                                    <input type="file" style="display: none" id="file-upload"
                                        (change)="uploadFile($event)" accept="image/jpeg, image/png, video/mp4">
                                </div>

                                <div class="icon">
                                    <div (click)="gifMenu = !gifMenu">
                                        <i class="bi bi-filetype-gif" *ngIf="!gifMenu"></i>
                                        <i class="bi bi-x" *ngIf="gifMenu"></i>
                                    </div>
                                </div>
                                <textarea placeholder="Massage" (keypress)="input($event)" class="form-control"
                                    id="textarea" rows="1"></textarea>
                                <div class="icon send-btn-chat-space" (click)="addTo()">
                                    <i class="bi bi-send p-2 px-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-video-call *ngIf="isVideoCall" class="videocall-component" [authToken]="authToken"
    (onCutVideoCall)="handleVideoCallCutEvent($event)">
</app-video-call>