<app-sidebar class="float-start w-25"></app-sidebar>

<!-- <div class="container" *ngIf="posts.length > 0">
    <div class="col-5 mx-auto">
        <div *ngFor="let post of posts; index as i">
            <app-single-post [post]="post"></app-single-post>
        </div>
    </div>
</div> -->
<!-- <div *ngIf="posts.length == 0" class="fs-2 text-center p-5 text-secondary">
    No such Record found
</div> -->
<a class="add-post-btn btn btn-info" routerLink="/post/live/upload">
    <div>
        <div class="live-icon"></div>
    </div>
    <div>
        <span class="text-option">Go Live</span>
    </div>
</a>
